<#import '/macro/pagination.html' as page>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <!-- <base href="<%=basePath%>">  -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <title>vue</title>
    <script>
    	new Vue({
    		
    	});
    
    </script>
  </head>
  
  <body>
    <h6><a href="./toAddUser">用户列表</a></h6>
	<table border="1">
		<tbody>
			<tr>
				<th>登陆名</th>
				<th>密码</th>
				<th>操作</th>
			</tr>
			<#list userList as user>  
					<tr>
						<td>${user.loginname }</td>
						<td id="demo">${user.password }</td>
						<td>
							<a href="javascript:del('${user.id }')">删除</a>
						</td>
					</tr>	
			</#list>  		
		<@page.pagination start=start total=total limit=limit/>
		</tbody>
	</table>
  </body>
</html>
